USE [master]
GO
/****** Object:  Database [LopFundWinform]    Script Date: 3/17/2026 9:36:32 AM ******/
CREATE DATABASE [LopFundWinform]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LopFundWinform', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LopFundWinform.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LopFundWinform_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LopFundWinform_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LopFundWinform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LopFundWinform]
GO
/****** Object:  Table [dbo].[ClassMembers]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassMembers](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Note] [nvarchar](255) NULL,
	[JoinedAt] [datetime] NOT NULL,
	[MemberRole] [nvarchar](40) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassMembers_User]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassMembers_User](
	[ClassId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[JoinedAt] [datetime] NOT NULL,
	[MemberRole] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classrooms]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classrooms](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[InviteCode] [nvarchar](20) NULL,
	[OwnerUserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[InviteCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ExpenseId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Amount] [int] NOT NULL,
	[SpentAt] [datetime] NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeeCycles]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeCycles](
	[FeeCycleId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Amount] [int] NOT NULL,
	[DueDate] [datetime] NULL,
	[AllowLate] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeCycleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoicePayments]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePayments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[PaidAt] [datetime] NOT NULL,
	[EvidenceImagePath] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[MemberId] [int] NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InvoicePayments_InvoiceId_MemberId] UNIQUE NONCLUSTERED 
(
	[InvoiceId] ASC,
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[FeeCycleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotiId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Content] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClassrooms]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClassrooms](
	[UserId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[JoinedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserClassrooms] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/17/2026 9:36:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](120) NULL,
	[Phone] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoicePayments_InvoiceId]    Script Date: 3/17/2026 9:36:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_InvoicePayments_InvoiceId] ON [dbo].[InvoicePayments]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoicePayments_MemberId]    Script Date: 3/17/2026 9:36:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_InvoicePayments_MemberId] ON [dbo].[InvoicePayments]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Members_ClassId]    Script Date: 3/17/2026 9:36:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Members_ClassId] ON [dbo].[Members]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClassMembers] ADD  CONSTRAINT [DF_ClassMembers_JoinedAt]  DEFAULT (getdate()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[ClassMembers] ADD  CONSTRAINT [DF_ClassMembers_Role]  DEFAULT (N'Member') FOR [MemberRole]
GO
ALTER TABLE [dbo].[ClassMembers] ADD  CONSTRAINT [DF_ClassMembers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClassMembers_User] ADD  DEFAULT (getdate()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[ClassMembers_User] ADD  DEFAULT ('Member') FOR [MemberRole]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT (getdate()) FOR [SpentAt]
GO
ALTER TABLE [dbo].[FeeCycles] ADD  DEFAULT ((1)) FOR [AllowLate]
GO
ALTER TABLE [dbo].[FeeCycles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InvoicePayments] ADD  DEFAULT (getdate()) FOR [PaidAt]
GO
ALTER TABLE [dbo].[InvoicePayments] ADD  DEFAULT ('submitted') FOR [Status]
GO
ALTER TABLE [dbo].[InvoicePayments] ADD  DEFAULT ((0)) FOR [AmountPaid]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[UserClassrooms] ADD  CONSTRAINT [DF_UserClassrooms_Role]  DEFAULT ('Owner') FOR [Role]
GO
ALTER TABLE [dbo].[UserClassrooms] ADD  CONSTRAINT [DF_UserClassrooms_JoinedAt]  DEFAULT (getdate()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[UserClassrooms] ADD  CONSTRAINT [DF_UserClassrooms_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClassMembers]  WITH CHECK ADD  CONSTRAINT [FK_ClassMembers_Classrooms] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classrooms] ([ClassId])
GO
ALTER TABLE [dbo].[ClassMembers] CHECK CONSTRAINT [FK_ClassMembers_Classrooms]
GO
ALTER TABLE [dbo].[ClassMembers_User]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classrooms] ([ClassId])
GO
ALTER TABLE [dbo].[ClassMembers_User]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Classrooms]  WITH CHECK ADD FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classrooms] ([ClassId])
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Classrooms] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classrooms] ([ClassId])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_Classrooms]
GO
ALTER TABLE [dbo].[FeeCycles]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classrooms] ([ClassId])
GO
ALTER TABLE [dbo].[InvoicePayments]  WITH CHECK ADD FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[InvoicePayments]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePayments_ClassMembers] FOREIGN KEY([MemberId])
REFERENCES [dbo].[ClassMembers] ([MemberId])
GO
ALTER TABLE [dbo].[InvoicePayments] CHECK CONSTRAINT [FK_InvoicePayments_ClassMembers]
GO
ALTER TABLE [dbo].[InvoicePayments]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePayments_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[InvoicePayments] CHECK CONSTRAINT [FK_InvoicePayments_Invoices]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([FeeCycleId])
REFERENCES [dbo].[FeeCycles] ([FeeCycleId])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Classrooms] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classrooms] ([ClassId])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Classrooms]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classrooms] ([ClassId])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserClassrooms]  WITH CHECK ADD  CONSTRAINT [FK_UserClassrooms_Classrooms] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classrooms] ([ClassId])
GO
ALTER TABLE [dbo].[UserClassrooms] CHECK CONSTRAINT [FK_UserClassrooms_Classrooms]
GO
ALTER TABLE [dbo].[UserClassrooms]  WITH CHECK ADD  CONSTRAINT [FK_UserClassrooms_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserClassrooms] CHECK CONSTRAINT [FK_UserClassrooms_Users]
GO
USE [master]
GO
